%div.grid_12.alpha
  %h1 Recent Posts
  %ul.sort-links
    %li= link_to "New Posts", dashboard_url
    %li= link_to "Recently Active Posts", post_activity_url
    %li= link_to "Comments", comment_activity_url

  %div#posts.post-list
    = render :partial => "/posts/post", :collection => @posts, :locals => { :include_category => true }
      
%div.grid_4.omega
  %h2 Categories
  - if current_user
    %div.roundedbutton
      = link_to(image_tag("add.png", :size => "16x16")+"Create a new category", new_bucket_url)
  %ul.bucket-list
    - for bucket in @buckets
      %li= link_to bucket.name, bucket