%div.comment{ :id => "comment_#{comment.id}" }
  %p.comment-byline
    = link_to image_tag("up.png", :size => "16x16"), vote_comment_url(comment), :title => "Up vote this comment", :remote => :true, :method => :post
    posted #{time_ago_in_words(comment.created_at)} ago by
    %span.author= comment.author.username
    %span.spacer= "|"
    %span.votes
      = pluralize(comment.votes.count, "point")
  = simple_format(comment.body, :class => "comment-body")