%div.comment{ :id => "comment_#{comment.id}" }
  %p.comment-byline
    %span.vote-actions<
      = link_to image_tag("up.png", :size => "16x16"), upvote_comment_url(comment), :title => "Up vote this comment", :remote => :true, :method => :post
      = link_to image_tag("down.png", :size => "16x16"), downvote_comment_url(comment), :title => "Down vote this comment", :remote => :true, :method => :post
    %span.votes
      = pluralize(comment.score, "point")
    %span.spacer= "|"
    posted by
    %span.author= comment.author.username
    #{time_ago_in_words(comment.created_at)} ago
  = simple_format(comment.body, :class => "comment-body")