%h1 Register

= form_for @user do |f|
  = f.error_messages
  %p
    = f.label :first
    %br
    = f.text_field :first
    
  %p
    = f.label :last
    %br
    = f.text_field :last
  
  %p
    = f.label :email
    %br
    = f.text_field :email
  
  %p
    = f.label :username
    %br
    = f.text_field :username
    
  %p
    = f.label :password
    %br
    = f.password_field :password
    
  %p
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation
    
  %p
    = f.submit "Create new account"