%div.grid_9.prefix_1.alpha
  %div.registration-form
    %h1 Create your account

    = form_for @user, :url => register_url do |f|
      = f.error_messages
      %fieldset
        - unless @site_configuration.signup_password.blank?
          %div.field
            = label_tag :registration_code, "Registration Code"
            = text_field_tag :registration_code, nil, :size => 15, :class => "text", :autofocus => true
        %div.field
          = f.label :first
          = f.text_field :first, :size => 20, :class => "text", :autofocus => !@site_configuration.signup_password.blank?
        %div.field
          = f.label :last
          = f.text_field :last, :size => 20, :class => "text"
        %div.field
          = f.label :email
          = f.text_field :email, :size => 40, :class => "text"
        %div.field
          = f.label :username
          = f.text_field :username, :size => 15, :class => "text"
        %div.field
          = f.label :password
          = f.password_field :password, :size => 15, :class => "text"
        %div.field
          = f.label :password_confirmation, "Retype password"
          = f.password_field :password_confirmation, :size => 15, :class => "text"
        %div.buttons
          = f.submit "Register your account", :class => "button"

%div.grid_5.suffix_1.omega
  %div.login-help
    
    %h2 Already have an account?
    %p
      = link_to "Log in now.", login_url