%div.grid_12.alpha
  %h1 #{@bucket.name} recent posts
  = simple_format @bucket.description

  %div#posts.post-list
    = render :partial => "/posts/post", :collection => @posts
      
%div.grid_4.omega
  - if logged_in? and current_user.member_of?(@bucket)
    %div.roundedbutton
      = link_to(image_tag("add.png", :size => "16x16")+"Submit a new post", new_bucket_post_url(@bucket))
  - else
    %div.roundedbutton
      = link_to(image_tag("add.png", :size => "16x16")+"Join this bucket", join_bucket_url(@bucket), :method => :post)