%div.post-summary{ :id => "post_#{post.id}" }
  %div.heading
    %div.vote-actions<
      = link_to image_tag("up.png", :size => "16x16"), upvote_post_url(post), :remote => true, :method => :post, :title => "Up vote this post"
      = link_to image_tag("down.png", :size => "16x16"), downvote_post_url(post), :remote => true, :method => :post, :title => "Down vote this post"
    %div.title
      - if post.is_link?
        = image_tag("link.png")
        = link_to post.title, post.url, :target => "_blank"
      - else
        = link_to post.title, post_url(post)
  %p.byline
    %span.votes
      #{pluralize(post.score, "point")}
    %span.spacer= "|"
    posted
    - if defined?(include_category) and include_category
      to
      %span.bucket= link_to post.bucket.name, post.bucket
    by 
    %span.author= post.author.username
    #{time_ago_in_words(post.created_at)} ago
    %span.spacer= "|"
    - if defined?(comment_link_anchor)
      = link_to(pluralize(post.comments.size, "comment"), "##{comment_link_anchor}")
    - else
      = link_to(pluralize(post.comments.size, "comment"), post_url(post))