%div.grid_12.prefix_2.suffix_2.alpha.omega
  %div.simple-form
    %h1 Post something

    %p Posts that have a URL will ignore the message body.

    = form_for @post, :url => posts_url() do |f|
      = f.error_messages
      %fieldset
        %div.field.padforselect
          = f.label :bucket_id, "Category"
          = f.select :bucket_id, options_for_buckets(@buckets, f.object.bucket_id)
        %div.field
          = f.label :title
          = f.text_field :title, :size => 80, :class => "text", :autofocus => true
        %div.optional-field#url-field-option
          = link_to_function "Post a website", "$('#url_field').show(); $('#post_url').focus(); $('#body_field').hide(); $('#url-field-option').hide();"
        %div.field#url_field{ :style => "display:none" }
          = f.label :url
          = f.text_field :url, :size => 80, :class => "text"
        %div.field#body_field
          = f.label :body
          = f.text_area :body, :rows => 8, :cols => 80, :class => "text"
        %div.buttons
          = f.submit "Submit new post", :class => "button"