%h1
  = link_to image_tag("up.png", :size => "16x16"), "", :title => "Up vote this post"
  = @post.title
%p.byline
  posted by 
  %span.author= @post.author.username
  #{time_ago_in_words(@post.author.created_at)} ago
  - if @post.url
    %span.spacer= "|"
    = link_to(image_tag("link.png", :size => "16x16") + "link", @post.url)
  

= simple_format(@post.body, :class => "post-body")
  
%div.post-comment-form
  = form_for :comment, @comment, :url => post_comments_url(@post), :remote => true do |f|
    %div.field
      = f.text_area :body, :class => "text", :rows => 8, :cols => 80
    %div.buttons
      = f.submit "Post comment", :class => "button"
      
%div#comments
  = render :partial => "/comments/comment", :collection => @post.comments