%h1 Log in

= form_for :user_session, @user_session, :url => authenticate_url do |f|
  = f.error_messages
  %p
    = f.label :username
    %br
    = f.text_field :username
    
  %p
    = f.label :password
    %br
    = f.password_field :password

  %p
    = f.submit "Log in"