%div.grid_9.prefix_1.alpha
  %div.login-form
    %h1 Log in

    = form_for @user_session, :as => :user_session, :url => authenticate_url do |f|
      = f.error_messages
      %fieldset
        %div.field
          = f.label :username
          = f.text_field :username, :size => 40, :class => "text", :autofocus => true
    
        %div.field
          = f.label :password
          = f.password_field :password, :size => 20, :class => "text"
          %span.remember
            = check_box_tag "remember_me", nil
            Remember me

        %div.buttons
          = f.submit "Log in", :class => "button"

%div.grid_5.suffix_1.omega
  %div.login-help
    
    %h2 Don't have an account?
    %p You can create your account in less than 30 seconds.
    %p
      = link_to "Create an account now.", signup_url
      
:javascript
  $('#user_session_username').focus();